.App {
  text-align: center;
  flex:1;
  align-items: flex-start;
  display: flex;
}

 .App leftpane {
    flex:1;
    width:30%;
    height:280px;
  }
           
            .App rightpane{
                flex:1;
               
                width:70%;
                height:280px;
            }
            



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app_gradient{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(238, 150, 130, 1) 0%, rgba(125, 125, 183, 1) 74%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(238, 150, 130, 1) 0%, rgba(125, 125, 183, 1) 74%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(238, 150, 130, 1) 0%, rgba(125, 125, 183, 1) 74%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7D7DB7', endColorstr='#EE9682', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(238, 150, 130, 1) 0%, rgba(125, 125, 183, 1) 74%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(238, 150, 130, 1) 0%, rgba(125, 125, 183, 1) 74%);
    text-align: center;
}